.codemirror-wrapper {border: 1px solid black}
.cm-layer {position: static !important;} /* fixes weird interaction with tacit */
input {width: 100%}
button {width: 100%}
input[type=radio] {width:auto}
input:disabled {cursor: not-allowed;}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0
}